body {
    background-color: #AA706A;
}
nav {
    background-color: #F2D6CA;
    border-bottom: 1px solid #adb1b4;
    margin-bottom: 10px;
}
img.tw-user-small {
    height: 40px;
    margin-left: 50px;

}
 
img.tw-user-medium {
    height: 50px;
    margin-left: 30px;
}
 
#nav-search {
    border-radius: 20px;
    background-color: #ffffff
}
input[type=button],
#logout,#login,#signup{
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #8C0303;
    color: #ffffff;  
}
input[type=submit],
#nav-tweet-btn {
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #024959;
    color: #ffffff;
}
input[type=submit], input[type=reset], button {
    margin-bottom: 11px;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.content-box {
    background-color: #ffffff;
    margin-bottom: 10px;
}
.new-tweet-row {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tweet {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf1f4;
}

.tweet-username {
    font-weight: bold;
}
 
.tweet-arrow {
    padding-right: 25px;
}
 
.tweet-text,
.tweet-media {
    margin-top: 10px;
    margin-block-end: 10px;
    padding-right: 10px;
}

  
.tweet-username,.tweet-usertag{
    font-size: 14px;
}
  
  .tweet-info {
    font-size: 11px;
    margin: 0;
  }
  
  /* .info-lab ,.tweet-age{
    font-size: 11px;
 
  } */
  
.oi-trash{
    margin-bottom: 0px;
}

.btn-default{
    color: rgb(19, 19, 18);
    background-color: #BF5B04;
    color: #ffffff;
}

.oi {
    /* Set the same height and width for all icons */
    height: 24px;
    width: 24px;
    padding: 0;
  }


